<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>test</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <style>
      .layui-form-label{
        width: 110px!important;
        font-size: 14px;
      }
      .layui-input-block{
        min-height: 50px!important;
        margin-bottom: 10px;
      }
      .layui-select{
        height: 35px;
      }
    </style>
  </head>
  <body>
      <div class="layui-body" style="left: 0">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
          <legend>医疗数据统计分析</legend>
               <div style="text-align:right;"><a href="http://127.0.0.1:5000/statistic_detail" style="color:red;font-size:10px;">详细请点击</a></div>
        </fieldset>
        <div id="container1" style="width:100%;height: 85%">
          <div id="symptom_ana" style="width: 34%; height: 100%;float: left">症状统计</div>
          <div id="sex_ana" style="width: 33%; height: 50%;float: left">性别分布</div>
            <div id="age_ana" style="width: 33%; height: 50%;float: left">年龄分布</div>
            <div id="eGFR_ana" style="width: 33%; height: 50%;float: left">eGFR值分布</div>
          <div id="sc_ana" style="width: 33%; height: 50%;float: left">sc_value分布</div>
        </div>

    </div>
      <script src="../static/layui/layui.js"></script>
      <script type="text/javascript" src="/static/js/echarts.js"></script>
      <script type="text/javascript" src="/static/js/function.js"></script>
      <script type="text/javascript">
        "use strict"
          var returndata={{data_json|tojson}};
        returndata=JSON.parse(returndata);
       var age_bins=[]
        for(var i=0;i<=returndata.age_distribute.bins.length;i++){
            if(i===returndata.age_distribute.bins.length){
                age_bins.push(returndata.age_distribute.bins[i-1]+"~")
            }else {
                age_bins.push((returndata.age_distribute.bins[i]) + "~" + (returndata.age_distribute.bins[i]+10))
            }

        }
       //  var sc_bins=[]
       //  for(var j=0;j<returndata.sc_distribute.bins.length;j++){
       //      if(j===returndata.sc_distribute.bins.length-1){
       //          sc_bins.push(returndata.sc_distribute.bins[j]+"~")
       //      }else {
       //          sc_bins.push((returndata.sc_distribute.bins[j]) + "~" + returndata.sc_distribute.bins[j+1])
       //      }
       //
       //  }
       //  var eGFR_bins=[]
       //  for(var k=0;k<returndata.eGFR_distribute.bins.length;k++){
       //      if(k===returndata.eGFR_distribute.bins.length-1){
       //          eGFR_bins.push(returndata.eGFR_distribute.bins[k]+"~")
       //      }else {
       //          eGFR_bins.push((returndata.eGFR_distribute.bins[k]) + "~" + (returndata.eGFR_distribute.bins[k+1]))
       //      }
       //
       //  }
        // document.write(sc_bins)
          var eGFR_data=[],sc_data=[],age_data=[];
        for(var i=0;i<returndata.eGFR_distribute.num.length;i++){
            eGFR_data.push([returndata.eGFR_distribute.bins[i]+10,returndata.eGFR_distribute.num[i]])
        }
        for(var j=0;j<returndata.sc_distribute.num.length;j++){
            sc_data.push([returndata.sc_distribute.bins[j]+50,returndata.sc_distribute.num[j]])
        }

          // console.log(returndata.sc_distribute)
          // console.log(returndata.sc_distribute)
        var yMax = 150;
        var dataShadow = [];
          var eGFR_dom = document.getElementById('eGFR_ana');
        var eGFR_chart = echarts.init(eGFR_dom);
        var eGFR_option= {
                title: {
              text: 'eGFR值分布',
              left: 'center'
          },
             tooltip: {
            trigger: 'item',
            // formatter: '{a} <br/>{b}: {c}人 '
        },
            xAxis: {
              name:"范围",
                nameGap:20,
                // data: eGFR_bins,
                axisLabel: {
                show:true,
                    inside: false,
                  rotate:30,
                    textStyle: {
                        color: '#120d0d'
                    }
                },
                axisTick: {
                    show: false
                },
                axisLine: {
                    show: false
                },
              splitLine:{show:false},
                boundaryGap: true,
            },
            yAxis: {
              name:"人数",
                nameGap:10,
                axisLine: {
                    show: false
                },
                axisTick: {
                    show: false
                },
                axisLabel: {
                    textStyle: {
                        color: '#999'
                    }
                }
            },
            dataZoom: [
                {
                    type: 'inside'
                }
            ],
            series: [
                {
                	name: 'eGFR分布：',
                    type: 'bar',
                    itemStyle: {
                        color: new echarts.graphic.LinearGradient(
                            0, 0, 0, 1,
                            [
                                {offset: 0, color: '#828787'},
                                {offset: 0.5, color: '#474a4a'},
                                {offset: 1, color: '#191a1a'}
                            ]
                        )
                    },
                    emphasis: {
                        itemStyle: {
                            color: new echarts.graphic.LinearGradient(
                                0, 0, 0, 1,
                                [
                                    {offset: 0, color: '#14edf0'},
                                    {offset: 0.7, color: '#13a8c2'},
                                    {offset: 1, color: '#017a92'}
                                ]
                            )
                        }
                    },
                    data: eGFR_data,
                   markLine:{
                	    slient:true,
                        // symbol:'none',
                        itemStyle: {
                        normal: {
                            lineStyle:{
                                width:2,
                                type:'dotted'  //'dotted'虚线 'solid'实线
                            },
                            show: true,
                            color: '#f00404',
                            }
                        },
                        label:{
                	        show:false,

                        },
                        data: [{name:"最低阈值", xAxis:90},{name:"最高阈值",xAxis:120}]
                    },
                }
            ]


        };
        eGFR_chart.setOption(eGFR_option);
        var sc_dom = document.getElementById('sc_ana');
        var sc_chart = echarts.init(sc_dom);
        var sc_option= {
                title: {
              text: '血肌酐值分布',
              left: 'center'
          },
             tooltip: {
            trigger: 'item',
            // formatter: '{a} <br/>{b}: {c}人 '
        },
            xAxis: {
              name:"范围",
                nameGap:20,
                // data: sc_bins,
                axisLabel: {
                interval: 1,
                    inside: false,
                  rotate:30,
                    textStyle: {
                        color: '#120d0d'
                    }
                },
                axisTick: {
                    show: false
                },
                axisLine: {
                    show: false
                },
              splitLine:{show:false},
                boundaryGap: true,
            },
            yAxis: {
              name:"人数",
                nameGap:10,
                axisLine: {
                    show: false
                },
                axisTick: {
                    show: false
                },
                axisLabel: {
                    textStyle: {
                        color: '#999'
                    }
                }
            },
            dataZoom: [
                {
                    type: 'inside'
                }
            ],
            series: [
                {
                	name: '血肌酐分布：',
                    type: 'bar',
                    itemStyle: {
                        color: new echarts.graphic.LinearGradient(
                            0, 0, 0, 1,
                            [
                                {offset: 0, color: '#828787'},
                                {offset: 0.5, color: '#474a4a'},
                                {offset: 1, color: '#191a1a'}
                            ]
                        )
                    },
                    emphasis: {
                        itemStyle: {
                            color: new echarts.graphic.LinearGradient(
                                0, 0, 0, 1,
                                [
                                    {offset: 0, color: '#14edf0'},
                                    {offset: 0.7, color: '#13a8c2'},
                                    {offset: 1, color: '#017a92'}
                                ]
                            )
                        }
                    },
                    data: sc_data,
                   markLine:{
                	    slient:true,
                        // symbol:'none',
                        itemStyle: {
                        normal: {
                            lineStyle:{
                                width:2,
                                type:'dotted'  //'dotted'虚线 'solid'实线
                            },
                            show: true,
                            color: '#f00404',
                            }
                        },
                        label:{
                	        show:false,

                        },
                        data: [{name:"最低阈值", xAxis:44},{name:"最高阈值",xAxis:133}]
                    },
                }
            ]


        };
        sc_chart.setOption(sc_option);
        var age_dom = document.getElementById('age_ana');
        var age_chart = echarts.init(age_dom);
        var age_option={
            title: {
              text: '患者年龄分布',
              left: 'center'
          },
            tooltip: {
            trigger: 'item',
            formatter: '{a}{b}: {c}人 '
        },
            xAxis: {
              name:"岁数",
                nameGap:20,
                data: age_bins,
                axisLabel: {
                interval: 1,
                    inside: false,
                  rotate:30,
                    textStyle: {
                        color: '#120d0d'
                    }
                },
                axisTick: {
                    show: false
                },
                axisLine: {
                    show: false
                },
              splitLine:{show:false},
                boundaryGap: true,
            },
            yAxis: {
              name:"人数",
                nameGap:10,
                axisLine: {
                    show: false
                },
                axisTick: {
                    show: false
                },
                axisLabel: {
                    textStyle: {
                        color: '#999'
                    }
                }
            },
            dataZoom: [
                {
                    type: 'inside'
                }
            ],
            series: [
                {
                	name: '年龄段',
                    type: 'bar',
                    // barWidth:40,
                    itemStyle: {
                        color: new echarts.graphic.LinearGradient(
                            0, 0, 0, 1,
                            [
                                {offset: 0, color: '#828787'},
                                {offset: 0.5, color: '#474a4a'},
                                {offset: 1, color: '#191a1a'}
                            ]
                        )
                    },
                    emphasis: {
                        itemStyle: {
                            color: new echarts.graphic.LinearGradient(
                                0, 0, 0, 1,
                                [
                                    {offset: 0, color: '#14edf0'},
                                    {offset: 0.7, color: '#13a8c2'},
                                    {offset: 1, color: '#017a92'}
                                ]
                            )
                        }
                    },
                    data: returndata.age_distribute.num
                }
            ]

                };
        age_chart.setOption(age_option);

        var sex_dom = document.getElementById('sex_ana');
        var sex_chart = echarts.init(sex_dom);
        var sex_option={
          title: {
              text: '患者性别分布',
              left: 'center'
          },
          tooltip: {
              trigger: 'item'
          },
          legend: {
              orient: 'vertical',
              left: 'left',
          },
          series: [
              {
                  // name: '访问来源',
                  type: 'pie',
                  radius: '60%',
                  label: {
                      normal: {
                          position:"inner",
                          show:false,
                      }
                  },
                  data: [
                      {value: returndata.num_male, name: '男性',itemStyle: {color:'#81888e'}},
                      {value:returndata.num_female, name: '女性',itemStyle: {color:'#24abcd'}},
                  ],
                  emphasis: {
                      itemStyle: {
                          shadowBlur: 10,
                          shadowOffsetX: 0,
                          shadowColor: 'rgba(0,0,0,0.5)'
                      }
                  }
              }
          ]
        };
        sex_chart.setOption(sex_option)

        var symptom_dom = document.getElementById('symptom_ana');
        var symptom_chart = echarts.init(symptom_dom);
        var symptom_option={
          title: {
              text: '患者症状分布',
              left: 'center'
          },
          tooltip: {
              trigger: 'item'
          },
          legend: {
              orient: 'vertical',
              left: 'left',
          },
          series: [
              {
                  type: 'pie',
                  radius: '60%',
                label: {
                      normal: {
                          position:"inner",
                          show:false,
                      }
                  },
                  data: [
                      {value: returndata.num_pos, name: '肾阳虚',itemStyle: {color:'#81888e'}},
                      {value: returndata.num_neg, name: '肾阴虚' ,itemStyle: {color:'#24abcd'}},
                  ],
                  emphasis: {
                      itemStyle: {
                          shadowBlur: 10,
                          shadowOffsetX: 0,
                          shadowColor: 'rgba(0,0,0,0.5)'
                      }
                  }
              }
          ]
        };
        symptom_chart.setOption(symptom_option);
      </script>

  </body>

</html>
