<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>病症预测页面</title>
<style type="text/css">
.file {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background-color: #1E9FFF;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;

    position: relative;
    overflow: hidden;
    text-decoration: none;
    text-indent: 0;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #78C3F3;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
</style>
    <link rel="stylesheet" href="../static/layui/css/layui.css"/>
    <script src="../static/js/jquery.js"></script>
  </head>
  <body>
    <div class="layui-layout layui-layout-admin">
<!--      <div class="layui-header">-->
<!--        <div class="layui-logo layui-hide-xs layui-bg-black">医疗系统</div>-->
<!--        &lt;!&ndash; 头部区域（可配合layui 已有的水平导航） &ndash;&gt;-->
<!--        <ul class="layui-nav layui-layout-left">-->
<!--          <li class="layui-nav-item layui-hide-xs"><a  href="javascript:" onclick="skipto('datastatistic')" style="cursor:pointer">信息展示</a></li>-->
<!--          <li class="layui-nav-item layui-hide-xs"><a href="./data_search">查询</a></li>-->
<!--          <li class="layui-nav-item layui-hide-xs layui-nav-itemed"><a href="./disease_prediction">预测</a></li>-->
<!--        </ul>-->
<!--        <ul class="layui-nav layui-layout-right">-->
<!--          <li class="layui-nav-item layui-hide layui-show-md-inline-block">-->
<!--            <a href="javascript:;">-->
<!--              tester-->
<!--            </a>-->
<!--            <dl class="layui-nav-child">-->
<!--              <dd><a href="">Your Profile</a></dd>-->
<!--              <dd><a href="">Settings</a></dd>-->
<!--              <dd><a href="">Sign out</a></dd>-->
<!--            </dl>-->
<!--          </li>-->
<!--          <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>-->
<!--            <a href="javascript:;">-->
<!--              <i class="layui-icon layui-icon-more-vertical"></i>-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
      <div class="layui-body" style="left: 0">
        <div style="padding: 15px">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
              <legend>输入病人的各项指标</legend>
            </fieldset>
            <form name="myForm" class="layui-form layui-form-pane" method="post" lay-filter="forecastInformation" enctype = 'multipart/form-data'>

              <div class="layui-form-item" pane="">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                  <input type="radio" name="sex" value="男" title="男" checked="">
                  <input type="radio" name="sex" value="女" title="女">
                  <!--<input type="radio" name="sex" value="禁" title="禁用" disabled="">-->
                </div>
              </div>

              <div class="layui-form-item">
                <div class="layui-inline">
                  <label class="layui-form-label">年龄</label>
                  <div class="layui-input-inline">
                    <input type="text" name="userage" autocomplete="off" placeholder="请输入年龄"  class="layui-input">
                  </div>
                </div>
                <div class="layui-inline">
                  <label class="layui-form-label">分期</label>
                  <div class="layui-input-inline">
                    <input type="text" name="stage" autocomplete="off" placeholder="请输入分期"  class="layui-input">
                  </div>
                </div>
                <div class="layui-inline">
                  <label class="layui-form-label">血肌酐</label>
                  <div class="layui-input-inline">
                    <input type="text" name="bloodCreatinine" autocomplete="off" placeholder="请输入血肌酐指标"  class="layui-input">
                  </div>
                </div>
              </div>

              <div class="layui-form-item">
                <div class="layui-inline">
                  <label class="layui-form-label">eGFR值</label>
                  <div class="layui-input-inline">
                    <input type="text" name="egfr" lay-verify="required" lay-reqtext="eGFR值不能为空" autocomplete="off" placeholder="请先计算eGFR值"  class="layui-input">
                  </div>
                </div>
                <div class="layui-inline">
                  <button type="button" class="layui-btn layui-btn-normal" id="LAY-component-form-egfr">计算eGFR值</button>
                </div>
              </div>

              <div class="layui-form-item">
                <div class="layui-inline">
                  <label class="layui-form-label">脉搏表格</label>
                  <div class="layui-input-inline">
                    <input type="text" name="fileName" id="selectFileName" lay-verify="fileName" lay-reqtext="请先选择脉搏数据文件" autocomplete="off" placeholder="未选择文件" class="layui-input" readonly="readonly">
                  </div>
                </div>
                <div class="layui-inline">
                  <!--					<input type="file" name="pulseFile" class="file">-->
                  <a href="javascript:;" class="file">点击选择文件
                    <input type="file" name="pulseFile" id="selectFile" class="file">
                  </a>
                </div>
			  </div>

              <div class="layui-form-item">
                <div class="layui-inline">
                  <label class="layui-form-label">脉搏类型</label>
                  <div class="layui-input-inline">
                    <input type="text" name="pulseType" id="pulseType" autocomplete="off" placeholder="预测结果"  class="layui-input">
                  </div>
                </div>
                <div class="layui-inline">
                  <button class="layui-btn" id="commit" lay-submit="*" lay-filter="forecastInformation" id="LAY-component-form-result">脉搏类型预测</button>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>
    <script src="../static/layui/layui.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script>
    layui.use(['form', 'layedit', 'laydate'], function(){
      var form = layui.form
      ,layer = layui.layer
      ,layedit = layui.layedit
      ,laydate = layui.laydate;

      //日期
      laydate.render({
        elem: '#date'
      });
      laydate.render({
        elem: '#date1'
      });

      //创建一个编辑器
      var editIndex = layedit.build('LAY_demo_editor');

      //自定义验证规则
      form.verify({
        title: function(value){
          if(value.length < 5){
            return '标题至少得5个字符啊';
          }
        }
        ,pass: [
          /^[\S]{6,12}$/
          ,'密码必须6到12位，且不能出现空格'
        ]
        ,content: function(value){
          layedit.sync(editIndex);
        }
        ,fileName: function (value){
          if(value.length <= 0)
            return '请先选择脉搏数据文件';
        }
      });

      //监听指定开关
      form.on('switch(switchTest)', function(data){
        layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
          offset: '6px'
        });
        layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
      });

      //监听提交
      form.on('submit(demo1)', function(data){
        //表单提交数据前做的事情
        return data;
      });

      //表单赋值
      layui.$('#LAY-component-form-setval').on('click', function(){
        form.val('example', {
          "username": "贤心" // "name": "value"
          ,"password": "123456"
          ,"interest": 1
          ,"like[write]": true //复选框选中状态
          ,"close": true //开关状态
          ,"sex": "女"
          ,"desc": "我爱 layui"
        });
      });

      //表单取值
      layui.$('#LAY-component-form-getval').on('click', function(){
        var data = form.val('example');
        alert(JSON.stringify(data));
      });

      //利用表单已填信息计算eGFR值
      layui.$('#LAY-component-form-egfr').on('click', function(){
        var data = form.val('forecastInformation');
        var jsonData = JSON.stringify(data);// 转成JSON格式
        //var result = $.parseJSON(jsonData);// 转成JSON对象
        var objectData = JSON.parse(jsonData);//转成JSON对象
        if(objectData.bloodCreatinine==""||objectData.userage==""){
          layer.msg('请输入指标值用于计算！', { icon: 7, time: 1000, shade: [0.6, '#000', true] });
          return ;
        }
        var egfr = 0;
        if(objectData.sex.toString()=="男"){
          egfr=186*(objectData.bloodCreatinine/88.41)**-1.154*(objectData.userage**-0.203)*1.233;
        }
        else if(objectData.sex.toString()=="女"){
          egfr=186*(objectData.bloodCreatinine/88.41)**-1.154*0.742*(objectData.userage**-0.203)*1.233;
        }
        //alert(jsonData);
        //alert(objectData.userage);//获取某key的对应value
        //alert(JSON.stringify(data));
        //更新计算得到的结果
        form.val('forecastInformation', {
          "sex": objectData.sex.toString() // "name": "value"
          ,"userage": objectData.userage.toString()
          ,"stage": objectData.stage.toString()
          ,"bloodCreatinine": objectData.bloodCreatinine.toString()
          ,"egfr": egfr.toString()
        });
      });
      //layui框架渲染（否则下拉框不显示）
      layui.use('form', function () {
          var form = layui.form;
          form.render();
          //更新数据
          var newData = {{newData | tojson}};//获取后端返回的结果
          objectData = JSON.parse(newData);
          //alert(objectData.pulseType.toString());
          //document.getElementById("pulseType").innerText = objectData.pulseType.toString();
          form.val('forecastInformation', {
          "sex": objectData.sex.toString() // "name": "value"
          ,"userage": objectData.userage.toString()
          ,"stage": objectData.stage.toString()
          ,"bloodCreatinine": objectData.bloodCreatinine.toString()
          ,"egfr": objectData.egfr.toString()
          ,"fileName" : objectData.fileName.toString()
          ,"pulseType": objectData.pulseType.toString()
        });
      });
    });
    </script>
    <script>
    $(".file").on("change","input[type='file']",function(){
      var fileNameText=document.getElementById("selectFileName");
      var fileInput=document.getElementById("selectFile");
      fileNameText.value=fileInput.files[0].name;
      //alert(fileNameText.placeholder);
    })
    </script>
  </body>
</html>