<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>数据导入</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all" />
    <script src="../static/js/jquery.js"></script>
    <style type="text/css">
      .file {
        display: inline-block;
        height: 38px;
        line-height: 38px;
        padding: 0 18px;
        background-color: #1e9fff;
        color: #fff;
        white-space: nowrap;
        text-align: center;
        font-size: 14px;
        border: none;
        border-radius: 2px;
        cursor: pointer;

        position: relative;
        overflow: hidden;
        text-decoration: none;
        text-indent: 0;
      }
      .file input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
      }
      .file:hover {
        background: #78c3f3;
        border-color: #78c3f3;
        color: #004974;
        text-decoration: none;
      }
      .hide {
        display: none;
      }
      .layui-form-pane .layui-form-label {
        width: 130px;
      }
      .layui-form-pane .layui-input-block {
        margin-left: 130px;
      }
      .file_icon:hover + .input_clear {
        opacity: 1;
      }
      .input_clear {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        opacity: 0;
        cursor: pointer;
        transition: all 0.3s;
      }
      .input_clear:hover {
        opacity: 1;
      }
      .uploadProgress {
        width: 200px;
        display: inline-block;
      }
      .uploadZi {
        display: inline-block;
        margin-bottom: 7px;
      }
      .container {
        display: flex;
        flex-direction: column;
        align-items: center
      }
      .self-panel {
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.1);
        color: #666;
        width: 1000px;
        height: 400px;
        margin: 50px 0;
      }
      .explainBox {
        margin-bottom: 20px; 
      }
      .explainWord {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="self-panel">
        <div style="padding: 15px">
          <fieldset
            class="layui-elem-field layui-field-title"
          >
            <legend>数据导入</legend>
          </fieldset>
          <form name="myForm" class="layui-form layui-form-pane">
            <div class="layui-form-item constrain_width" pane="">
              <label class="layui-form-label">数据来源</label>
              <div class="layui-input-block">
                <input
                  type="radio"
                  name="data_source"
                  value="local"
                  title="本地"
                  lay-filter="show"
                  checked
                />
                <input
                  type="radio"
                  name="data_source"
                  value="MySQL"
                  title="Mysql"
                  lay-filter="show"
                />
                <input
                  type="radio"
                  name="data_source"
                  value="SqlServer"
                  title="SqlServer"
                  lay-filter="show"
                />
              </div>
            </div>
            <div class="layui-form-item constrain_width" pane="">
              <label class="layui-form-label">科室</label>
              <div class="layui-input-block">
                <input
                  type="radio"
                  name="dept"
                  value="kidney"
                  title="肾科"
                  checked
                />
                <input type="radio" name="dept" value="liver" title="肝科" />
                <input type="radio" name="dept" value="lung" title="肺科" />
              </div>
            </div>
            <div class="mysql hide">
              <div class="layui-inline">
                <div class="layui-form-item">
                  <label class="layui-form-label">host</label>
                  <div class="layui-input-block">
                    <input
                      type="text"
                      name="host"
                      value="localhost"
                      placeholder="请输入"
                      class="layui-input"
                      lay-verify="host"
                    />
                  </div>
                </div>
              </div>
              <div class="layui-inline">
                <div class="layui-form-item">
                  <label class="layui-form-label">port</label>
                  <div class="layui-input-block">
                    <input
                      type="text"
                      name="port"
                      value="3306"
                      placeholder="请输入"
                      class="layui-input"
                      lay-verify="port"
                    />
                  </div>
                </div>
              </div>
              <div class="layui-inline">
                <div class="layui-form-item">
                  <label class="layui-form-label">user</label>
                  <div class="layui-input-block">
                    <input
                      type="text"
                      name="user"
                      value="root"
                      placeholder="请输入"
                      class="layui-input"
                      lay-verify="user"
                    />
                  </div>
                </div>
              </div>
              <div></div>
              <!-- 换行用 -->
              <div class="layui-inline">
                <div class="layui-form-item">
                  <label class="layui-form-label">password</label>
                  <div class="layui-input-block">
                    <input
                      type="password"
                      name="passwd"
                      value="000000"
                      placeholder="请输入"
                      class="layui-input"
                      lay-verify="password"
                    />
                  </div>
                </div>
              </div>
              <div class="layui-inline">
                <div class="layui-form-item">
                  <label class="layui-form-label">db</label>
                  <div class="layui-input-block">
                    <input
                      type="text"
                      name="db"
                      value="medicaldb"
                      placeholder="请输入"
                      class="layui-input"
                      lay-verify="db"
                    />
                  </div>
                </div>
              </div>
              <div class="layui-inline SqlServer">
                <div class="layui-form-item">
                  <label class="layui-form-label">charset</label>
                  <div class="layui-input-block">
                    <input
                      type="text"
                      name="charset"
                      value="utf8"
                      placeholder="请输入"
                      class="layui-input"
                      lay-verify="charset"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-inline local">
                <label class="layui-form-label">病例信息表</label>
                <div class="layui-input-inline">
                  <input
                    type="text"
                    name="fileName"
                    id="selectFileName"
                    autocomplete="off"
                    placeholder="未选择文件"
                    class="layui-input file_icon"
                    readonly="readonly"
                    lay-verify="patient_info"
                  />
                  <i class="layui-icon input_clear" data-relate-input="file"
                    >&#x1006;</i
                  >
                  <!-- &#x1007; -->
                </div>
              </div>
              <div class="layui-inline mysql hide">
                <label class="layui-form-label">病例信息表名</label>
                <div class="layui-input-inline">
                  <input
                    type="text"
                    name="patient_info_table"
                    placeholder="请输入"
                    class="layui-input"
                    lay-verify="patient_table_name"
                  />
                </div>
              </div>
              <div class="layui-inline local">
                <!--					<input type="file" name="pulseFile" class="file">-->
                <a href="javascript:;" class="file"
                  >点击选择文件
                  <input
                    type="file"
                    name="infoFile"
                    id="selectFile"
                    class="file"
                    title=""
                    data-name="file"
                  />
                </a>
              </div>
              <div class="layui-inline local">
                <label class="layui-form-label">编码</label>
                <div class="layui-input-block">
                  <select name="patient_info_file_encoding">
                    <option value="utf-8" selected>utf-8</option>
                    <option value="utf-16 le">utf-16 le</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-inline local">
                <label class="layui-form-label">脉搏数据目录</label>
                <div class="layui-input-inline">
                  <input
                    type="text"
                    name="fileName"
                    id="selectDirName"
                    autocomplete="off"
                    placeholder="未选择文件"
                    class="layui-input file_icon"
                    readonly="readonly"
                    lay-verify="pulse_dir"
                  />
                  <i class="layui-icon input_clear" data-relate-input="fileDir"
                    >&#x1006;</i
                  >
                </div>
              </div>
              <div class="layui-inline mysql hide">
                <label class="layui-form-label">脉搏表命名规则</label>
                <div class="layui-input-inline">
                  <input
                    type="text"
                    name="pulse_table_na_rule"
                    value="病例编号"
                    class="layui-input"
                    lay-verify="pulse_table"
                  />
                </div>
              </div>
              <div class="layui-inline local">
                <!--					<input type="file" name="pulseFile" class="file">-->
                <a href="javascript:;" class="file"
                  >点击选择目录
                  <input
                    type="file"
                    name="pulseDir"
                    id="selectDir"
                    class="file"
                    data-name="fileDir"
                    title=""
                    webkitdirectory
                  />
                </a>
              </div>
              <div class="layui-inline local">
                <label class="layui-form-label">编码</label>
                <div class="layui-input-block">
                  <select name="pulse_file_encoding" lay-verify="">
                    <option value="utf-8">utf-8</option>
                    <option value="utf-16 le" selected>utf-16 le</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-inline">
                <button class="layui-btn" lay-submit lay-filter="formDemo">
                  导入
                </button>
                <button
                  type="reset"
                  class="layui-btn layui-btn-primary import_reset"
                >
                  重置
                </button>
              </div>
              <div class="layui-inline uploadUi">
                <div class="layui-progress uploadProgress" lay-filter="upload">
                  <div class="layui-progress-bar" lay-percent="0%"></div>
                </div>
                <span class="uploadZi"
                  ><i
                    class="
                      layui-icon layui-anim layui-anim-rotate layui-anim-loop
                    "
                    >&#xe63d;</i
                  >上传中</span
                >
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="explainWord">
        
      </div>
    </div>
    <script src="../static/layui/layui.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script>
      //Demo
      layui.use(["form", "layer", "element"], function () {
        const form = layui.form;
        const layer = layui.layer;
        const element = layui.element;
        //监听提交
        form.on("radio(show)", (data) => {
          const { value } = data;
          formStatu = value;
          switchUi(value);
        });
        form.verify({
          host: (value) =>
            (formStatu === "MySQL" || formStatu === "SqlServer") &&
            value.trim().length === 0 &&
            "请输入host",
          port: (value) =>
            (formStatu === "MySQL" || formStatu === "SqlServer") &&
            value.trim().length === 0 &&
            "请输入port",
          user: (value) =>
            (formStatu === "MySQL" || formStatu === "SqlServer") &&
            value.trim().length === 0 &&
            "请输入user",
          password: (value) =>
            (formStatu === "MySQL" || formStatu === "SqlServer") &&
            value.trim().length === 0 &&
            "请输入password",
          db: (value) =>
            (formStatu === "MySQL" || formStatu === "SqlServer") &&
            value.trim().length === 0 &&
            "请输入db",
          charset: (value) =>
            (formStatu === "MySQL" || formStatu === "SqlServer") &&
            value.trim().length === 0 &&
            "请输入charset",
          patient_table_name: (value) =>
            (formStatu === "MySQL" || formStatu === "SqlServer") &&
            value.trim().length === 0 &&
            "请输入病例信息表名",
          charset: (value) =>
            (formStatu === "MySQL" || formStatu === "SqlServer") &&
            value.trim().length === 0 &&
            "请输入charset",
          pulse_table: (value) =>
            (formStatu === "MySQL" || formStatu === "SqlServer") &&
            value.trim().length === 0 &&
            "请输入脉搏数据表名",
          pulse_dir: (value) =>
            formStatu === "local" &&
            value.trim().length === 0 &&
            "请输入脉搏数据表名",
          patient_info: (value) =>
            formStatu === "local" &&
            value.trim().length === 0 &&
            "请输入脉搏数据表名",
        });
        form.on("submit(formDemo)", function (data) {
          const { field, form } = data;
          let uploadData = new FormData();
          let sign = false;
          [...fileData].forEach((e) => uploadData.append(e[0], e[1]));

          for (const key in field) {
            if (key === "data_source" && field[key] !== "local") {
              sign = true;
            }
            uploadData.append(key, field[key].trim());
          }
          if (sign) {
            uploadData.delete("file");
            uploadData.delete("fileDir");
          }

          $.ajax({
            url: "/dataimport",
            type: "POST",
            data: uploadData,
            cache: false,
            processData: false,
            contentType: false,
            success: (data) => {
              form.reset();
              formStatu = "local";
              switchUi(formStatu);
              clearInput("file");
              clearInput("fileDir");
              layer.closeAll();
              layer.msg(data);
            },
            error: (err) => {
              layer.closeAll();
            },
            xhr: function () {
              uploadUi.show();
              myXhr = $.ajaxSettings.xhr();
              if (myXhr.upload) {
                myXhr.upload.addEventListener(
                  "progress",
                  function (e) {
                    if (e.lengthComputable) {
                      var percent = Math.floor((e.loaded / e.total) * 100);
                      element.progress("upload", `${percent}%`);
                    }
                  },
                  false
                );

                myXhr.upload.addEventListener("load", () => {
                  uploadUi.hide();
                  layer.load(2);
                  element.progress("upload", `0%`);
                });
              }
              return myXhr;
            },
          });
          return false;
        });
      });

      $("#selectFile").on("change", (e) => {
        const { files, dataset } = e.target;
        if (files.length === 0) return;
        // let reader = new FileReader();
        // reader.readAsText(files[0])
        // reader.onload = function () {
        //   console.log(reader.result.split("\n"));
        // }
        const { name } = dataset;
        clearInput("file");
        addFile([...files], name);
        e.target.value = "";
      });
      $("#selectDir").on("change", (e) => {
        const { files, dataset } = e.target;
        const { name } = dataset;
        addFile([...files], name);
        e.target.value = "";
      });
      $(".input_clear").on("click", (e) => {
        const { dataset } = e.target;
        clearInput(dataset.relateInput);
      });
      $(".import_reset").on("click", (e) => {
        formStatu = "local";
        clearInput("file");
        clearInput("fileDir");
        switchUi(formStatu);
      });
      function switchUi(value) {
        switch (value) {
          case "MySQL": {
            sourceMysql.removeClass("hide");
            sourceLocal.addClass("hide");
            sourceSqlserver.removeClass("hide");
            break;
          }
          case "local": {
            sourceMysql.addClass("hide");
            sourceLocal.removeClass("hide");
            sourceSqlserver.addClass("hide");
            break;
          }
          case "SqlServer": {
            sourceMysql.removeClass("hide");
            sourceLocal.addClass("hide");
            sourceSqlserver.addClass("hide");
            break;
          }
        }
      }
      function addFile(files, name) {
        const { data, el } = fileInputName[name];
        for (let i = 0; i < files.length; ++i) {
          if (data.indexOf(files[i].name) === -1) {
            fileData.append(name, files[i]);
            data.push(files[i].name);
          }
        }
        el.val(data.join(";"));
      }
      function clearInput(str) {
        const { data, el } = fileInputName[str];
        fileData.delete(str);
        data.length = 0;
        el.val("");
      }

      function addExplainImg(info, word) {
        for(let i = 0; i < info.length; ++i) {
          const img = $(`
            <div class="explainBox">
              <p class="explainWord">${word[i]}</p>
              <img class="explainImg" src=data:;base64,${info[i]}>
            </div>
          `)
          $explainWord.append(img);
        }
      }

      const imgPath = {{data_json | tojson}};
      const imgInfo = Object.values(JSON.parse(imgPath));
      const imgWord = ["肝信息表格式", "肾信息表格式", "肺信息表格式", "脉象文件格式"];
      const $explainWord = $(".explainWord");
      const sourceMysql = $(".mysql");
      const sourceLocal = $(".local");
      const sourceSqlserver = $(".SqlServer");
      const uploadUi = $(".uploadUi");
      uploadUi.hide();
      let formStatu = "local";
      let fileData = new FormData();
      let fileInputName = {
        file: {
          data: [],
          el: $("#selectFileName"),
        },
        fileDir: {
          data: [],
          el: $("#selectDirName"),
        },
      };
      addExplainImg(imgInfo, imgWord);
    </script>
  </body>
</html>
