<!DOCTYPE html>
<html lang="en" style="height: 100%">
  <!--刘艳霞 2020.10.23-->
  <head>
    <meta charset="UTF-8" />
    <title>谣言源检测</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all" />
    <style>
      .info {
        width: 80%;
        margin: 0 auto;
      }
      .bar-head-form {
        margin-bottom: 0;
      }
      .header-input {
        height: 35px;
        width: 20%;
        display: inline-block;
      }
      .header-button {
        height: 33px;
        line-height: 35px;
        border: 0;
      }
      #headBar {
        margin-top: -5000px;
      }
      .colBar {
        margin-top: -5000px;
      }
      .max {
        width: 25%;
        display: inline-block;
      }
      .min {
        width: 25%;
        display: inline-block;
      }
      .max::placeholder {
        font-size: 8px;
      }
      .min::placeholder {
        font-size: 8px;
      }
    </style>
  </head>
  <body>
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">某系统</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item layui-hide-xs"><a href="">信息展示</a></li>
          <li class="layui-nav-item layui-hide-xs layui-nav-itemed">
            <a href="">查询</a>
          </li>
          <li class="layui-nav-item layui-hide-xs"><a href="">预测</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
          <li class="layui-nav-item layui-hide layui-show-md-inline-block">
            <a href="javascript:;"> tester </a>
            <dl class="layui-nav-child">
              <dd><a href="">Your Profile</a></dd>
              <dd><a href="">Settings</a></dd>
              <dd><a href="">Sign out</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
            <a href="javascript:;">
              <i class="layui-icon layui-icon-more-vertical"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="layui-body" style="left: 0">
        <div class="info">
          <table class="info_table" lay-filter="test"></table>
          <div id="demo"></div>
        </div>
      </div>
    </div>
    <div class="colBar">
      <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
    </div>
    <div id="headBar">
      <button
        class="layui-btn layui-btn-normal header-button"
        lay-event="detail"
      >
        查询
      </button>
    </div>
    <div class="detail_query" style="padding: 20px">
      <form class="layui-form" lay-filter="query_form">
        <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
        <div class="layui-form-item">
          <label class="layui-form-label">患者id</label>
          <div class="layui-input-block">
            <input
              type="text"
              name="id"
              placeholder="请输入"
              autocomplete="off"
              class="layui-input"
            />
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">性别</label>
          <div class="layui-input-block">
            <select name="sex" lay-filter="aihao">
              <option value="" selected>请选择性别</option>
              <option value="1">男</option>
              <option value="2">女</option>
            </select>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">症型</label>
          <div class="layui-input-block">
            <select name="symptoms" lay-filter="aihao">
              <option value="" selected>请选择</option>
              <option value="1">肾阳虚</option>
              <option value="2">肾阴虚</option>
            </select>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">年龄</label>
          <div class="layui-input-block">
            <input
              type="text"
              name="age_min"
              placeholder="最小值"
              autocomplete="off"
              class="layui-input min"
              lay-verify="isNumber"
            />
            <span>-</span>
            <input
              type="text"
              name="age_max"
              placeholder="最大值"
              autocomplete="off"
              class="layui-input max"
              lay-verify="isNumber"
            />
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">血肌酐</label>
          <div class="layui-input-block">
            <input
              type="text"
              name="ser_min"
              placeholder="最小值"
              autocomplete="off"
              class="layui-input min"
              lay-verify="isNumber"
            />
            <span>-</span>
            <input
              type="text"
              name="ser_max"
              placeholder="最大值"
              autocomplete="off"
              class="layui-input max"
              lay-verify="isNumber"
            />
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">eGFR</label>
          <div class="layui-input-block">
            <input
              type="text"
              name="eGFR_min"
              placeholder="最小值"
              autocomplete="off"
              class="layui-input min"
              lay-verify="isNumber"
            />
            <span>-</span>
            <input
              type="text"
              name="eGFR_max"
              placeholder="最大值"
              autocomplete="off"
              class="layui-input max"
              lay-verify="isNumber"
            />
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn submit_query" lay-submit lay-filter="*">
              立即提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">
              重置
            </button>
          </div>
        </div>
        <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
      </form>
    </div>
    <script type="text/javascript" src="../static/layui/layui.js"></script>
    <script src="../static/js/jQuery.js"></script>
    <script>
      function renderTable(tableData) {
        // 渲染表格，tableData：后端返回的数据
        const { data: arrData, code, total } = JSON.parse(tableData);
        const data = arrData.map((e) => {
          e.sex = e.sex === "2" ? "女" : "男";
          e.symptoms_type = e.symptoms_type === "1" ? "肾阳虚" : "肾阴虚";
          return e;
        });
        layui.use(["laypage", "table", "layer"], function () {
          let laypage = layui.laypage;
          const TABLE = layui.table;
          // 表格组件
          TABLE.render({
            elem: ".info_table", // 定位表格ID
            title: "用户数据表",
            toolbar: "#headBar", // 表格头工具栏
            cols: [
              [
                {
                  field: "id",
                  title: "编号",
                  width: 80,
                  sort: true,
                  align: "center",
                },
                { field: "sex", title: "性别", width: 80, align: "center" },
                {
                  field: "age",
                  title: "年龄",
                  width: 80,
                  sort: true,
                  align: "center",
                },
                {
                  field: "serum_creatinine",
                  title: "血肌酐",
                  width: 110,
                  align: "center",
                },
                {
                  field: "eGFR",
                  title: "eGFR",
                  width: 177,
                  align: "center",
                },
                { field: "symptoms_type", title: "症型", align: "center" },
                { field: "tongue", title: "舌", align: "center" },
                { field: "pulse", title: "脉", align: "center" },
                {
                  field: "detail",
                  title: "详细",
                  width: 80,
                  toolbar: ".colBar",
                  align: "center",
                },
              ],
            ],
            data, 
            limit: queryObj.limit, // 每一页数据条数
            done: function () {
              // 分页组件
              getPage(total, laypage);
            },
          });
          TABLE.on("toolbar(test)", function (obj) {
            // 点击查询按钮后的弹出层，用于更细节的查询
            layer_idx = layer.open({
              type: 1,
              shadeClose: true,
              title: "查询页面",
              content: $(".detail_query"),
            });
          });
        });
      }
      function getTable(postData) {
        $.ajax({
          type: "POST",
          url: `http://127.0.0.1:5000/patient_info_by_condition`,
          data: postData,
          success: function (returnData) {
            renderTable(returnData);
          },
        });
      }
      function getPage(total, laypage) {
        // 设置分页
        laypage.render({
          elem: "demo", // 根据ID定位
          count: total, // 获取的数据总数
          limit: queryObj.limit, // 每页默认显示的数量，同上
          layout: ["prev", "page", "next", "limit"],
          curr: queryObj.page, // 页码
          jump: function (obj, first) {
            if (!first) {
              queryObj.page = obj.curr; // 设置当前页位置
              queryObj.limit = obj.limit; // 设置每页的数据条数
              getTable(queryObj);
            }
          },
        });
      }
      layui.use(["form", "layer"], function () {
        const FORM = layui.form, LAYER = layui.layer;
        FORM.verify({
          isNumber: (value) => {
            if (Number.isNaN(Number(value))) {
              return "请输入数字";
            }
          },
        });
        FORM.on("submit(*)", (data) => {
          const { field } = data;
          const QUERY_DATA = {
            id: field.id,
            sex: field.sex,
            symptoms: field.symptoms,
            age: JSON.stringify([field.age_min, field.age_max]),
            serum_creatinine: JSON.stringify([field.ser_min, field.ser_max]),
            eGFR: JSON.stringify([field.eGFR_min, field.eGFR_max]),
            page: 1,
            limit: 10,
          };
          queryObj = QUERY_DATA
          getTable(queryObj);
          LAYER.close(layer_idx)
          return false;
        });
      });
      
      let layer_idx = 0; // layer的index参数，用于控制弹出层（查询用）的关闭
      let queryObj = {
        id: "",
        sex: "",
        symptoms: "",
        age: JSON.stringify(["", ""]),
        serum_creatinine: JSON.stringify(["", ""]),
        eGFR: JSON.stringify(["", ""]),
        page: 1,
        limit: 10,
      } // 查询字符串，用于获取病人的数据
      getTable(queryObj); // 获得表格数据，第一次调用默认获得所有病人的信息（第一页）
    </script>
  </body>
</html>
