<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
 <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>test</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <style>
      /*.layui-form-label{*/
      /*  width: 90px;*/
      /*  font-size: 14px;*/
      /*}*/
      .layui-input{
        min-height: 20px;
        margin-bottom: 20px;
      }
      .layui-select{
        height: 35px;width: 50px;
      }
      .layui-input-block{
          width: 350px;
      }
      .layui-form-item{
          width: 100%;
          margin-top: 10px;
      }
      .layui-container{
          width: 50%; height: 50%;float: left;
      }

    </style>
  </head>
<body>
  <div class="layui-body" style="left: 0">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
          <legend>输入相关统计指标</legend>
        </fieldset>
            <div id="container2"  style="width:35% ;float: left">
<!--                -->
<!--            <div class="layui-form-item" >-->
<!--            <label class="layui-form-label">科室选择</label>-->
<!--                <div class="layui-input-block" >-->
<!--                  <select name="symptoms_type" lay-filter="info_display_sym"  class="layui-select" >-->
<!--                      <option value="" style="font-size: 14px;">请选择</option>-->
<!--                      <option value="1" style="font-size: 14px;">肾</option>-->
<!--                      <option value="2" style="font-size: 14px;">肺</option>-->
<!--                      <option value="3" style="font-size: 14px;">脾</option>-->
<!--                      <option value="4" style="font-size: 14px;">闻</option>-->
<!--                  </select>-->
<!--                <button class="layui-btn submit_query" lay-submit lay-filter="*0">提交</button>-->
<!--                </div>-->
<!--            </div>-->
                <form class="layui-form" action="" method="post" lay-filter="info_display">
            <div class="layui-form-item" >
            <label class="layui-form-label">症状选择</label>
                <div class="layui-input-block" >
                  <select name="symptoms_type" lay-filter="info_display_sym"  class="layui-select" >
                      <option value="" style="font-size: 14px;">请选择</option>
                      <option value="1" style="font-size: 14px;">肾阳虚</option>
                      <option value="2" style="font-size: 14px;">肾阴虚</option>
                  </select>
<!--                <button class="layui-btn submit_query" lay-submit lay-filter="bt1">提交</button>-->
                </div>
            </div>
           <div class="layui-form-item">
              <label class="layui-form-label">患者性别</label>
              <div class="layui-input-block">
                <select name="gender" lay-filter="info_display_gender"  class="layui-select"  >
                  <option value="" >请选择</option>
                  <option value="1"  >男</option>
                  <option value="2" >女</option>
                </select>
<!--                <button class="layui-btn submit_query" lay-submit lay-filter="bt2">提交</button>-->
              </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline"><label class="layui-form-label">年龄范围</label>
                    <div class="layui-input-inline"style="width: 160px;" >
                        <input type="text" name="min_age" placeholder="最小值" autocomplete="off" class="layui-input" lay-verify="Mverify" >
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline" style="width: 165px;">
                        <input type="text" name="max_age" placeholder="最大值" autocomplete="off" class="layui-input" lay-verify="Mverify" >
                    </div>
                </div>
            </div>
                 <div class="layui-form-item">
                <button  class="layui-btn submit_query" type="button" lay-submit lay-filter="*"  id="LAY-button-shen"  style="margin-left: 110px;width: 100px">立即提交</button>
<!--                     <button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
            </div>
            <div class="layui-panel"  style="margin-top: 50px;margin-left: 120px;">
                <div class="layui-tab-item layui-show"  id="content" style="font-size: 14px;"></div>
            </div>
                </form>
          </div>

      <div id="container3" style="width:65%;height: 90%;float: left" >
          <div class="layui-container" id="symptoms_fig" ></div>
          <div class="layui-container" id="gender_fig" ></div>
          <div class="layui-container" id="eGFR_fig" ></div>
          <div class="layui-container" id="sc_fig"  ></div>
        </div>
     </div>
   <script src="../static/layui/layui.js"></script>
    <script src="../static/js/jquery.js"></script>
        <script type="text/javascript" src="../static/js/echarts.js"></script>
      <script type="text/javascript" src="../static/js/function.js"></script>
    <script>
        var eGFR_dom = document.getElementById('eGFR_fig');
        var eGFR_chart = echarts.init(eGFR_dom);
        var sc_dom = document.getElementById('sc_fig');
        var sc_chart = echarts.init(sc_dom);
        var sex_dom = document.getElementById('gender_fig');
        var sex_chart = echarts.init(sex_dom);
        var symptom_dom = document.getElementById('symptoms_fig');
        var symptom_chart = echarts.init(symptom_dom);
        var yMax = 150;
        var dataShadow = [];

        function fig_dis(returndata,eGFR_chart,sc_chart,sex_chart,symptom_chart){
            var eGFR_data=[],sc_data=[];
            eGFR_chart.clear();sc_chart.clear();sex_chart.clear();symptom_chart.clear();

            for (var i = 0; i < returndata.eGFR_distribute.num.length; i++) {
                eGFR_data.push([returndata.eGFR_distribute.bins[i] + 10, returndata.eGFR_distribute.num[i]])
        }
        for (var j = 0; j < returndata.sc_distribute.num.length; j++) {
                sc_data.push([returndata.sc_distribute.bins[j] + 50, returndata.sc_distribute.num[j]])
        }
            // var eGFR_option=eGFR_chart.getOption();
            var eGFR_option = {
                title: {
                    text: 'eGFR值分布',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',
                },

                xAxis: {
                    name: "范围",
                    nameGap: 20,
                    axisLabel: {
                        inside: false,
                        rotate: 30,
                    },
                    axisTick: {
                        show: false,
                        alignWithLabel: false
                    },
                    axisLine: {
                        show: false
                    },
                    splitLine: {show: false},
                    boundaryGap: true,

                },
                yAxis: {
                    name: "人数",
                    nameGap: 10,
                    axisLine: {
                        show: false
                    },
                    axisTick: {
                        show: false
                    },
                    axisLabel: {
                        textStyle: {
                            color: '#999'
                        }
                    }
                },
                dataZoom: [
                    {
                        type: 'inside'
                    }
                ],
                series: [
                    {
                        name: 'eGFR分布',
                        type: 'bar',
                        barWidth:28,
                        itemStyle: {
                            color: new echarts.graphic.LinearGradient(
                                0, 0, 0, 1,
                                [
                                    {offset: 0, color: '#828787'},
                                    {offset: 0.5, color: '#474a4a'},
                                    {offset: 1, color: '#191a1a'}
                                ]
                            )
                        },
                        emphasis: {
                            itemStyle: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#f53959'},
                                        {offset: 0.7, color: '#cd0a2d'},
                                        {offset: 1, color: '#a5011c'}
                                    ]
                                )
                            }
                        },
                        data: eGFR_data,
                        markLine: {
                            slient: true,
                            // symbol:'none',
                            itemStyle: {
                                normal: {
                                    lineStyle: {
                                        width: 2,
                                        type: 'dotted'  //'dotted'虚线 'solid'实线
                                    },
                                    show: true,
                                    color: '#f00404',
                                }
                            },
                            label: {
                                show: false,

                            },
                            data: [{name: "最低阈值(mL/min)", xAxis: 90}, {name: "最高阈值(mL/min)", xAxis: 120}]
                        },
                    }
                ]

            };
            eGFR_chart.setOption(eGFR_option);
            // var sc_option =sc_chart.getOption();
            var sc_option = {
                title: {
                    text: '血肌酐值分布',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',

                },
                xAxis: {
                    name: "范围",
                    nameGap: 20,
                    axisLabel: {
                        inside: false,
                        textStyle: {
                            color: '#120d0d',
                            rotate: 20
                        },
                    },
                    axisTick: {
                        show: false
                    },
                    axisLine: {
                        show: false
                    },
                    splitLine: {show: false},
                    // boundaryGap: true,
                },
                yAxis: {
                    name: "人数",
                    nameGap: 10,
                    axisLine: {
                        show: false
                    },
                    axisTick: {
                        show: false
                    },
                    axisLabel: {
                        textStyle: {
                            color: '#999'
                        }
                    }
                },
                dataZoom: [
                    {
                        type: 'inside'
                    }
                ],
                series: [
                    {
                        name: '血肌酐分布',
                        barWidth:28,
                        type: 'bar',
                        itemStyle: {
                            color: new echarts.graphic.LinearGradient(
                                0, 0, 0, 1,
                                [
                                    {offset: 0, color: '#828787'},
                                    {offset: 0.5, color: '#474a4a'},
                                    {offset: 1, color: '#191a1a'}
                                ]
                            )
                        },
                        emphasis: {
                            itemStyle: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#f53959'},
                                        {offset: 0.7, color: '#cd0a2d'},
                                        {offset: 1, color: '#a5011c'}
                                    ]
                                )
                            }
                        },
                        data: sc_data,
                        markLine: {
                            slient: true,
                            // symbol:'none',
                            itemStyle: {
                                normal: {
                                    lineStyle: {
                                        width: 2,
                                        type: 'dotted'  //'dotted'虚线 'solid'实线
                                    },
                                    show: true,
                                    color: '#f00404',
                                }
                            },
                            label: {
                                show: false,

                            },
                            data: [{name: "最低阈值(μmol/L)", xAxis: 44}, {name: "最高阈值(μmol/L)", xAxis: 133}]
                        },
                    }
                ]

            };
            sc_chart.setOption(sc_option);

            var sex_option = {
                title: {
                    text: '患者性别分布',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                },
                series: [
                    {
                        // name: '访问来源',
                        type: 'pie',
                        radius: '60%',
                        label: {
                            normal: {
                                position: "inner",
                                show: false,
                            }
                        },
                        data: [
                            {value: returndata.num_male, name: '男性'},
                            {value: returndata.num_female, name: '女性'},
                        ],
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0,0,0,0.5)'
                            }
                        }
                    }
                ]
            };
            sex_chart.setOption(sex_option)

            var symptom_option = {
                title: {
                    text: '患者症状分布',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                },
                series: [
                    {
                        type: 'pie',
                        radius: '60%',

                        label: {
                            normal: {
                                position: "inner",
                                show: false,
                            }
                        },

                        data: [
                            {value: returndata.num_pos, name: '肾阳虚'},
                            {value: returndata.num_neg, name: '肾阴虚'},
                        ],
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0,0,0,0.5)'
                            }
                        }
                    }
                ]
            };
            symptom_chart.setOption(symptom_option);

        }

        layui.use(['form'], function() {
        var form = layui.form, layer = layui.layer, $ = layui.jquery;
           form.verify({
              Mverify: (value) => {
                if (isNaN(value)||value<0||value>150) {
                 return  "输入有误，请重新输入！";
                }
              },
            });

            // layui.$('#LAY-button-shen').on('click', function() {
            //     var data = form.val('info_display');
            //     var objectData = JSON.parse(JSON.stringify(data));//转成JSON对象
            //     var min_age = objectData.min_age, max_age = objectData.max_age;
            //     if (!min_age) {
            //         min_age = 0;
            //     }
            //     if (!max_age) {
            //         max_age = 150;
            //     }
            //     // console.log(objectData.symptoms_type+" "+objectData.gender)
            //     var symptom, gender;
            //     if (objectData.symptoms_type === '1') {
            //         symptom = '肾阳虚'
            //     } else if (objectData.symptoms_type === '2') {
            //         symptom = '肾阴虚'
            //     } else {
            //         symptom = '所有'
            //     }
            //     if (objectData.gender === '1') {
            //         gender = '男'
            //     } else if (objectData.gender === '2') {
            //         gender = '女'
            //     } else {
            //         gender = '所有'
            //     }
            //     if (min_age >= max_age) {
            //         layer.alert("输入数据非法!", {icon: 2, skin: 'layer-ext-demo',})
            //         return false
            //     }
            //     layer.alert("症状:" + symptom + "\n性别:" + gender + "\n年龄范围:" + min_age + "~" + max_age, {
            //         icon: 1,
            //         skin: 'layer-ext-demo',
            //     })
            //
            //     $.ajax({
            //         url:"http://127.0.0.1:5000/statistic_detail",
            //         data:JSON.stringify(objectData),
            //         dataType:"json",
            //         type:'POST',
            //         success:function (data){
            //             console.log(111)
            //             return data
            //         }
            //
            //     })
            // });


        // //监听提交
        form.on('submit(*)', function () {
            var data = form.val('info_display');
            var objectData = JSON.parse(JSON.stringify(data));//转成JSON对象
            var min_age=Number(objectData.min_age),max_age=Number(objectData.max_age);
            if(!min_age){
                min_age=0;
            }
            if(!max_age){
                max_age=150;
            }
            var symptom,gender;
            if(objectData.symptoms_type==='1'){
                symptom='肾阳虚'
            }else if(objectData.symptoms_type==='2') {
                symptom='肾阴虚'
            }else {
                symptom='不区分症状'
            }
            if(objectData.gender==='1'){
                gender='男'
            }else if(objectData.gender==='2') {
                gender='女'
            }else {
                gender='不区分性别'
            }
            if(min_age>=max_age) {
                layer.alert("输入数据非法!", {icon: 2, skin: 'layer-ext-demo',})
                return false
            }
            // alert("症状:" + symptom + "\n性别:" + gender + "\n年龄范围:" + min_age + "~" + max_age,{icon:1,skin: 'layer-ext-demo',time:200000})
            var content="输入选项如下：\n\n患者症状： " + symptom + "\n\n患者性别： " + gender + "\n\n患者年龄范围： " + min_age + "~" + max_age+"岁"
            document.getElementById("content").innerText=content;
            $.ajax({
                    url:"http://127.0.0.1:5000/statistic_detail",
                    data:data,
                    dataType:"json",
                    type:'POST',
                    success:function (objdata){
                        console.log("请求数据成功")
                        var returndata = JSON.parse(JSON.stringify(objdata));
                        console.log(returndata)

                        fig_dis(returndata,eGFR_chart,sc_chart,sex_chart,symptom_chart)
                        },
                     error: function() {
                         console.log("请求数据失败")
                     }
                    })
            });
    });

    </script>

</body>
</html>