<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>test</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <style>
      /*.layui-form-label{*/
      /*  width: 90px;*/
      /*  font-size: 14px;*/
      /*}*/
      .layui-input{
        min-height: 20px;
        margin-bottom: 20px;
      }
      .layui-select{
        height: 35px;width: 50px;
      }
      .layui-input-block{
          width: 350px;
      }
      .layui-form-item{
          width: 100%;
          margin-top: 10px;
      }
      .layui-container{
          width: 50%; height: 50%;float: left;
      }

    </style>
  </head>
<body>
  <div class="layui-body" style="left: 0">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
          <legend>输入肾科患者统计指标</legend>
            <div style="text-align:right;"><a href="datastatistic" style="color:gray;font-size:14px;">返回统计主页</a></div>
        </fieldset>
            <div id="container2"  style="width:35% ;float: left">
                <form class="layui-form" action="" method="post" lay-filter="info_display">
            <div class="layui-form-item" >
            <label class="layui-form-label">症状选择</label>
                <div class="layui-input-block" >
                  <select name="symptoms_type" lay-filter="info_display_sym"  class="layui-select" >
                      <option value="" style="font-size: 14px;">请选择</option>
                      <option value="1" style="font-size: 14px;">肾阳虚</option>
                      <option value="2" style="font-size: 14px;">肾阴虚</option>
                  </select>
<!--                <button class="layui-btn submit_query" lay-submit lay-filter="bt1">提交</button>-->
                </div>
            </div>
           <div class="layui-form-item">
              <label class="layui-form-label">患者性别</label>
              <div class="layui-input-block">
                <select name="gender" lay-filter="info_display_gender"  class="layui-select"  >
                  <option value="" >请选择</option>
                  <option value="1"  >男</option>
                  <option value="2" >女</option>
                </select>
<!--                <button class="layui-btn submit_query" lay-submit lay-filter="bt2">提交</button>-->
              </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline"><label class="layui-form-label">年龄范围</label>
                    <div class="layui-input-inline"style="width: 160px;" >
                        <input type="text" name="min_age" placeholder="最小值" autocomplete="off" class="layui-input" lay-verify="Mverify" >
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline" style="width: 165px;">
                        <input type="text" name="max_age" placeholder="最大值" autocomplete="off" class="layui-input" lay-verify="Mverify" >
                    </div>
                </div>
            </div>
                 <div class="layui-form-item">
                <button  class="layui-btn submit_query" type="button" lay-submit lay-filter="*"  id="LAY-button-shen"  style="margin-left: 110px;width: 100px">立即提交</button>
<!--                     <button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
            </div>
            <div class="layui-panel"  style="margin-top: 50px;margin-left: 120px;">
                <div class="layui-tab-item layui-show"  id="content" style="font-size: 14px;"></div>
            </div>
                </form>
          </div>

      <div id="container3" style="width:65%;height: 85%;float: left" >
          <div class="layui-container" id="symptoms_fig" ></div>
          <div class="layui-container" id="gender_fig" ></div>
          <div class="layui-container" id="eGFR_fig" ></div>
          <div class="layui-container" id="sc_fig"  ></div>
        </div>
     </div>
   <script src="../static/layui/layui.js"></script>
    <script src="../static/js/jquery.js"></script>
        <script type="text/javascript" src="../static/js/echarts.js"></script>
      <script type="text/javascript" src="../static/js/function.js"></script>
    <script>
        var eGFR_dom = document.getElementById('eGFR_fig');
        var eGFR_chart = echarts.init(eGFR_dom);
        var sc_dom = document.getElementById('sc_fig');
        var sc_chart = echarts.init(sc_dom);
        var sex_dom = document.getElementById('gender_fig');
        var sex_chart = echarts.init(sex_dom);
        var symptom_dom = document.getElementById('symptoms_fig');
        var symptom_chart = echarts.init(symptom_dom);
        var yMax = 150;
        var dataShadow = [];

        function fig_dis(returndata,eGFR_chart,sc_chart,sex_chart,symptom_chart){
            var eGFR_data=[],sc_data=[];
            eGFR_chart.clear();sc_chart.clear();sex_chart.clear();symptom_chart.clear();
            for (var i = 0; i < returndata.eGFR_distribute.num.length; i++) {
                eGFR_data.push([(returndata.eGFR_distribute.bins[i] +returndata.eGFR_distribute.bins[i+1])/2, returndata.eGFR_distribute.num[i]])
        }
        for (var j = 0; j < returndata.sc_distribute.num.length; j++) {
                sc_data.push([(returndata.sc_distribute.bins[j] + returndata.sc_distribute.bins[j+1])/2, returndata.sc_distribute.num[j]])
        }
            // var eGFR_option=eGFR_chart.getOption();
            var eGFR_option = {
                title: {
                    text: 'eGFR值分布',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',
                },

                xAxis: {
                    name: "范围",
                    interval:returndata.eGFR_distribute.bins[1]-returndata.eGFR_distribute.bins[0],
                    min:returndata.eGFR_distribute.bins[0],
                    max:returndata.eGFR_distribute.bins[returndata.eGFR_distribute.num.length],
                    nameGap: 20,
                    axisLabel: {
                        inside: false,
                        rotate: 30,
                    },
                    axisTick: {
                        show: false,
                        alignWithLabel: false
                    },
                    axisLine: {
                        show: false
                    },
                    splitLine:{show:false},
                    // boundaryGap:false,

                },
                yAxis: {
                    name: "人数",
                    nameGap: 10,
                    axisLine: {
                        show: false
                    },
                    axisTick: {
                        show: false
                    },
                    axisLabel: {
                        textStyle: {
                            color: '#999'
                        }
                    }
                },
                dataZoom: [
                    {
                        type: 'inside'
                    }
                ],
                series: [
                    {
                        tooltip: {
                            trigger: 'item',
                            formatter: function (params) {
                                var la = 'eGFR值区间:' + params.value[1] + '人'
                                return la
                            }
                        },
                        name:'eGFR值正常范围',
                        type: 'bar',
                        barWidth:28,
                        itemStyle: {
                               color:function(params) {
		                    let colorList = [
		                        "#c80101",
		                        "#4d4f4f",
		                    ];
		                    if(Number(params.value[0]) >= 80 && Number(params.value[0]) <= 120){
		                      return colorList[1]
		                    }else{
		                      return colorList[0]
		                    }
		                }
                        },
                        emphasis: {
                            itemStyle: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                          {offset: 0, color: '#5889f1'},
                                    {offset: 0.7, color: '#2153e6'},
                                    {offset: 1, color: '#052ee3'}
                                    ]
                                )
                            }
                        },
                        data: eGFR_data,
                        markLine: {
                            slient: true,
                            // symbol:'none',
                            itemStyle: {
                                normal: {
                                    lineStyle: {
                                        width: 2,
                                        type: 'dotted'  //'dotted'虚线 'solid'实线
                                    },
                                    show: true,
                                    color: '#1a0000',
                                }
                            },
                            label: {
                                show: false,

                            },
                            data: [{name: "最低阈值(mL/min)", xAxis: 80}, {name: "最高阈值(mL/min)", xAxis: 120}]
                        },
                    }
                ]

            };
            eGFR_chart.setOption(eGFR_option);
            // var sc_option =sc_chart.getOption();
            var sc_option = {
                title: {
                    text: '血肌酐值分布',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',

                },
                xAxis: {
              name:"范围",
               interval:returndata.sc_distribute.bins[1]-returndata.sc_distribute.bins[0],
                    min:returndata.sc_distribute.bins[0],
                    max:returndata.sc_distribute.bins[returndata.sc_distribute.num.length],
                nameGap:20,
                // data: sc_bins,
                axisLabel: {
                interval: 1,
                    inside: false,
                  rotate:30,
                    textStyle: {
                        color: '#120d0d'
                    }
                },
                axisTick: {
                    show: false
                },
                axisLine: {
                    show: false
                },
              splitLine:{show:false},
                // boundaryGap: true,
            },
                yAxis: {
                    name: "人数",
                    nameGap: 10,
                    axisLine: {
                        show: false
                    },
                    axisTick: {
                        show: false
                    },
                    axisLabel: {
                        textStyle: {
                            color: '#999'
                        }
                    }
                },
                dataZoom: [
                    {
                        type: 'inside'
                    }
                ],
                series: [
                    {
                        tooltip: {
                            trigger: 'item',
                            formatter: function (params) {
                                var la = '血肌酐值区间:' + params.value[1] + '人'
                                return la
                            }
                        },
                        name:'血肌酐值正常范围',
                        barWidth:28,
                        type: 'bar',
                        itemStyle: {
                       color:function(params) {
		                    let colorList = [
		                        "#c80101",
		                        "#4d4f4f",
		                    ];
		                    if(Number(params.value[0]) >= 33 && Number(params.value[0]) <= 100){
		                      return colorList[1]
		                    }else{
		                      return colorList[0]
		                    }
		                }
                        },
                        emphasis: {
                            itemStyle: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#5889f1'},
                                    {offset: 0.7, color: '#2153e6'},
                                    {offset: 1, color: '#052ee3'}
                                    ]
                                )
                            }
                        },
                        data: sc_data,
                        markLine: {
                            slient: true,
                            // symbol:'none',
                            itemStyle: {
                                normal: {
                                    lineStyle: {
                                        width: 2,
                                        type: 'dotted'  //'dotted'虚线 'solid'实线
                                    },
                                    show: true,
                                    color: '#150000',
                                }
                            },
                            label: {
                                show: false,

                            },
                            data: [{name: "最低阈值(μmol/L)", xAxis: 33}, {name: "最高阈值(μmol/L)", xAxis: 103}]
                        },
                    }
                ]

            };
            sc_chart.setOption(sc_option);

            var sex_option = {
                title: {
                    text: '患者性别分布',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
                legend:{  selectedMode:false,
                    orient: 'vertical',
                    left: 'left',
                },
                series: [
                    {
                        // name: '访问来源',
                        tooltip:{
                          trigger:'item',
                      formatter:'{b}:{c}人,，占比{d}%'
                      },
                        {#color:[#}
                        {#    "#5470c6","#ec5151"#}
                        {#  ],#}
                        type: 'pie',
                        radius: '60%',
                        label: {
                           normal: {
                                position: "outside",
                                show: true,
                                formatter:'{b}:{c}人'
                            }
                        },
                        data: [
                            {value: returndata.num_male, name: '男性'},
                            {value: returndata.num_female, name: '女性'},
                        ].filter(e => Number(e.value) !== 0),
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0,0,0,0.5)'
                            }
                        }
                    }
                ]
            };
            sex_chart.setOption(sex_option)

            var symptom_option = {
                title: {
                    text: '患者症状分布',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
                legend:{  selectedMode:false,
                    orient: 'vertical',
                    left: 'left',
                },
                series: [
                    {
                        tooltip:{
                          trigger:'item',
                      formatter:'{b}:{c}人,，占比{d}%'
                      },
                        {#color:[#}
                        {#    "#5470c6","#ec5151"#}
                        {#  ],#}
                        type: 'pie',
                        radius: '60%',
                        label: {
                        normal: {
                                position: "outside",
                                show: true,
                                formatter:'{b}:{c}人'
                            }
                        },

                        data: [
                            {value: returndata.num_pos, name: '肾阳虚'},
                            {value: returndata.num_neg, name: '肾阴虚'},
                        ].filter(e => Number(e.value) !== 0),
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0,0,0,0.5)'
                            }
                        }
                    }
                ]
            };
            symptom_chart.setOption(symptom_option);

        }

        layui.use(['form'], function() {
        var form = layui.form, layer = layui.layer, $ = layui.jquery;
           form.verify({
              Mverify: (value) => {
                if (isNaN(value)||value<0||value>150) {
                    layer.alert("非法数据,请重新输入!", {icon: 2, skin: 'layer-ext-demo',})
                    return  false;
                }
              },
            });


        // //监听提交
        form.on('submit(*)', function () {
            var data = form.val('info_display');
            var objectData = JSON.parse(JSON.stringify(data));//转成JSON对象
            var min_age=Number(objectData.min_age),max_age=Number(objectData.max_age);
            document.getElementById("content").innerText='';
            eGFR_chart.clear();
            sc_chart.clear();
            sex_chart.clear();
            symptom_chart.clear();
            if(!min_age){
                min_age=0;
            }
            if(!max_age){
                max_age=150;
            }
            var symptom,gender;
            if(objectData.symptoms_type==='1'){
                symptom='肾阳虚'
            }else if(objectData.symptoms_type==='2') {
                symptom='肾阴虚'
            }else {
                symptom='不区分'
            }
            if(objectData.gender==='1'){
                gender='男'
            }else if(objectData.gender==='2') {
                gender='女'
            }else {
                gender='不区分'
            }
            if(min_age>=max_age) {
                layer.alert("非法数据，请重新输入!", {icon: 2, skin: 'layer-ext-demo',})
                return false
            }
            $.ajax({
                    url:"datastatistic",
                    data:data,
                    dataType:"json",
                    type:'POST',
                    success:function (objdata){
                        console.log("请求数据成功")
                        var content="输入选项如下：\n\n患者症状： " + symptom + "\n\n患者性别： " + gender + "\n\n患者年龄范围： " + min_age + "~" + max_age+"岁"
                        document.getElementById("content").innerText=content;
                        if(objdata==='无数据'){
                             layer.alert("不存在数据，请重新输入!", {icon: 0, skin: 'layer-ext-demo',})
                             return false
                        } else{
                            var returndata = JSON.parse(JSON.stringify(objdata));
                            console.log(returndata)
                            fig_dis(returndata,eGFR_chart,sc_chart,sex_chart,symptom_chart)
                            }
                        },
                     error: function() {
                         console.log("请求数据失败")
                     }
                    })
            });
    });

    </script>

</body>
</html>